
<ion-content class="{{isLoggedIn ? 'loggedin': 'non-loggedin'}}">
	<div class="signin_register" *ngIf="!isLoggedIn">
		<div class="signin_content" padding>
			
			<div id="register" center>
				<form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
					<ion-list>
						<ion-item>
							<ion-label floating [innerHtml]="config.get_translation('signup_username')"></ion-label>
							<ion-input type="text" formControlName="username"></ion-input>
							<span *ngIf="signupForm.controls.username.pending"><ion-spinner></ion-spinner></span>
						</ion-item>
						<ion-item>
							<ion-label floating [innerHtml]="config.get_translation('signup_email')"></ion-label>
							<ion-input type="text" formControlName="email"></ion-input>
						</ion-item>
						<ion-item>
							<ion-label floating [innerHtml]="config.get_translation('signup_password')"></ion-label>
							<ion-input type="password" formControlName="password"></ion-input>
						</ion-item>
					</ion-list>
					<button ion-button block  class="btn" type="submit" color="secondary" [innerHtml]="config.get_translation('login_signup')"></button>
					
				</form>
			</div>
			<button ion-button clear center icon-left color="white" (click)="backToLogin()" [innerHtml]="config.get_translation('login_back')"><ion-icon name="md-arrow-back"></ion-icon></button>
		</div>
	</div>
	

</ion-content>
