<ion-header>
    <ion-navbar  color="transparent" >
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <!--{{course.name}}
            <span>
                {{course.instructor.name}}
            </span-->
				<div id="class_title"><h3 align="left">SERI</h3></div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
	<!--
    <div id="toggleTimeline">
        <button ion-fixed (click)="toggleTimeline()" class="main" icon-only fab fab-floating ion-fab color="orange" absolute-drag > !--startLeft="40" startTop="40"--
            <ion-icon name="md-menu"></ion-icon>
        </button>
    </div>
	-->
	<!--
    <div id="toggleExtras">
        <button ion-fixed ion-button icon-only class="quiz_button" *ngIf="showQuizStart()" (click)="triggerQuizStart()">
            <ion-icon name="md-play"></ion-icon> 
        </button>

        <div *ngIf="showQuizControls()">
			
			<button class="quiz_button" ion-button icon-only id="quiz_forward" (click)="quizQuestions.slideNext(500)">
				<ion-icon name="md-arrow-round-forward"></ion-icon>
			</button>

			<button class="quiz_button" ion-button icon-only (click)="triggerQuizSave()">
                <i *ngIf="!saving" class="fa fa-floppy-o" aria-hidden="true"></i>
                <ion-spinner *ngIf="saving" name="lines" class="spinner-calm"></ion-spinner>
            </button>
            <button class="quiz_button" ion-button icon-only *ngIf="quizSaved()" (click)="triggerQuizSubmit()">
                <i class="fa fa-flag-checkered" aria-hidden="true"></i>
            </button>

			<button class="quiz_button" ion-button icon-only id="quiz_backward" (click)="quizQuestions.slidePrev(500)">
				<ion-icon name="md-arrow-round-back"></ion-icon>
			</button>
		</div>
    </div>
	-->
    <div id="course_timeline" [ngClass]="{active: timelineactive > 0}">
        <progress-bar *ngIf="coursestatus.progress && coursestatus.progress > -1" [progress]="coursestatus.progress"></progress-bar>
        <div id="curriculum_timeline">
            <ion-list>
                <ion-item *ngFor="let item of coursestatus.courseitems; let i=index;" (click)="selectedItem(i)" [class]="item.type">
                    <strong><strong [innerHtml]=item.title></strong>
                        <span [ngClass]="{ 'active': (coursestatus.current_unit_key === i), 'done': (item.status > 0) }"></span>
                    </strong>
                </ion-item>
            </ion-list>
        </div> 
        <div id="course_buttons">
            <button ion-button outline full color="white" (click)="backToCourse()">{{config.get_translation('back_to_course')}}</button>
            <button ion-button outline full color="white" (click)="reviewCourse()">{{config.get_translation('review_course')}}</button>
			<!--*ngIf="coursestatus.status < 3 "-->
            <button ion-button outline full color="white" (click)="finishCourse()">{{config.get_translation('finish_course')}}</button>
        </div>
    </div>

    <div id="course_status_content">
        <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" id="course_status_items" #CourseStatusItems (ionSlideDidChange)="onSlideChanged()" autoHeight>
            <ion-slide *ngFor="let item of coursestatus.courseitems; let i=index;">
                
                <div *ngIf="config.settings.units_in_inappbrowser && item.type == 'unit' && item.meta.link && item.meta.link.length">
					<!--
                    <button ion-button (click)="openIabunit(item.meta.link)" [innerHtml]="config.get_translation('open_in_new_window')"></button>
					-->
                </div>

                <div *ngIf="item.type == 'unit' && item.meta.video" style="width:100%" class="video-container">
                    
                    <vg-player (onPlayerReady)="onPlayerReady($event)" *ngFor="let video of item.meta.video" vg-responsive="true">
                        <vg-controls [vgFor]="my-video" [vgAutohide]="true" [vgAutohideTime]="5">

                            <vg-play-pause [vgFor]="my-video"></vg-play-pause>
                            <vg-playback-button></vg-playback-button>

                            <vg-time-display [vgFor]="my-video" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                            <vg-scrub-bar [vgFor]="my-video">
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            </vg-scrub-bar>
                            <vg-volume [vgFor]="my-video"></vg-volume>
                            <vg-fullscreen></vg-fullscreen>
                            <vg-overlay-play></vg-overlay-play>
                        </vg-controls>
                        <video #myMedia
                               [vgMedia]="myMedia"
                               id="my-video"
                               [src]="video"
                               type="video/mp4" class="video-container">
                        </video>
                    </vg-player>


                </div> 

				<div *ngIf="item.type == 'unit' && item.meta.iframes && item.meta.iframes.length" style="width:100%">
                    <div class="course_item_iframe" *ngFor="let iframeUrl of item.meta.iframes">
                        <iframe *ngIf="!isObject(iframeUrl)" width="100%" height="100%" [src]="iframeUrl | safeUrl" frameborder="0" allowfullscreen class="video-container"></iframe>
						<!--
                        <button *ngIf="!isObject(iframeUrl)" ion-button (click)="openIab(iframeUrl)" [innerHtml]="config.get_translation('open_in_new_window')"></button>
						-->

                        <div *ngIf="isObject(iframeUrl)" [class]="iframeUrl.shortcode">
                            <iframe width="100%" height="100%" [src]="iframeUrl.value | safeUrl" frameborder="0" allowfullscreen class="video-container"></iframe>
                        </div>
						<!--
                        <button *ngIf="isObject(iframeUrl)" ion-button (click)="openIab(iframeUrl.value)" [innerHtml]="config.get_translation('open_in_new_window')"></button>
						-->
                    </div>
                </div>


                <!-- <div style="margin-top:320px; position: absolute;"> -->
				<div id="class_description">
					<div id="class_course" [innerHtml]="course.name"></div>
					<div id="class_title" [innerHtml]="item.title">
					</div>
					<!--div id="class_time_instructor">
						<ion-avatar item-left>
							<img [src]=course.instructor.avatar>
						</ion-avatar>
						<span [innerHtml]="course.instructor.name"></span>
						<ion-icon name="md-time"></ion-icon>
						<friendlytime [time]="item.duration" *ngIf="item.type == 'unit'"></friendlytime>
						<friendlytime [time]=getsectionduration(i) *ngIf="item.type == 'section'"></friendlytime>
					</div-->
					<progress-bar style="margin:auto" *ngIf="coursestatus.progress && coursestatus.progress > -1" [progress]="coursestatus.progress"></progress-bar>
					<!--span class="section_heading" [innerHtml]="getsection(i)" *ngIf="item.type != 'section'"></span-->
					<!--
					<span  *ngIf="(item.type == 'unit') && (item.status > 0)" class="complete">{{config.get_translation('completed')}}</span>
					-->					
					<ion-grid *ngIf="(item.type == 'quiz') && (item.meta.status > 3)">
						<ion-row>
							<!--
							<ion-col>
								<div class="user_progress">
									<p>{{config.get_translation('progress')}}</p>
									<progress-bar [progress]="item.meta.progress"></progress-bar>
								</div> 
							</ion-col>
							-->
							<ion-col>
								<div class="user_marks">
									<p>{{config.get_translation('score')}}</p>
									<span *ngIf="item.meta.status > 3">{{item.meta.marks}}</span> / <strong>{{item.meta.max}}</strong> 
								</div>
							</ion-col>
							<ion-col *ngIf="item.meta.status < 3">
								<div class="user_timer">
									<p>{{config.get_translation('time')}}</p>
									<timer [time]="item.duration" [quiz]="item.id" *ngIf="item.duration < 9999" [start]="quizService.checkQuizStarted(item.id)" 
									(QuizEnded)="endQuiz($event)"></timer>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>

                        
                        


                <div *ngIf="item.type == 'unit' && item.meta.audio" class="audio-container">
                    
                <vg-player style="height: 50px;" (onPlayerReady)="onPlayerReady($event)" *ngFor="let audio of item.meta.audio" vg-responsive="true">
                        <vg-controls [vgAutohide]="false">
                            <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>

                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            </vg-scrub-bar>

                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                            <vg-mute></vg-mute>

                        </vg-controls>

                        <audio #media [vgMedia]="media" id="myAudio" preload="auto">
                            <source [src]="audio" type="audio/mp3">
                        </audio>
                    </vg-player>

                   
                </div> 

                <div id="maincontent" class="pinchzoom" *ngIf="item.type == 'unit'" [innerHtml]="item.content | safeHtml" padding></div>
                <div *ngIf="!item.meta.access && item.type == 'unit'">
                    <button ion-button icon-only clear (click)="forceReload()"><ion-icon name="md-refresh"></ion-icon></button>
                </div>
                <div id="maincontent" *ngIf="item.type == 'section'" padding>
                    <ul class="sectionunits">
                        <li *ngFor="let sectionitem of coursestatus.courseitems;let key=index;" (click)="selectedItem(key)">
                            <div *ngIf="key > i && sectionitem.type != 'section' && in_section(key,i)" [ngClass]="{active:sectionitem.status > 0}">
                                <span [innerHtml]="sectionitem.title"></span>
                                <friendlytime [time]="sectionitem.duration"></friendlytime>
                            </div>
                        </li>
                    </ul>					
				
                </div>
				
				
				 <!--div id="unit_attachments" *ngIf="item.type == 'unit' && item.meta && item.meta.attachments && item.meta.attachments.length">
                    <h4 [innerHtml]="config.get_translation('unit_attachments')"></h4>
                    <ul style="list-style:none;">
                        <li *ngFor="let attachments of item.meta.attachments">
                            <a (click)="openIab(attachments.link)" [innerHtml]="attachments.name"></a>
                        </li>
                    </ul> 
                </div>
				
				
				
				
                <button *ngIf="item.meta.comments >= 0" ion-button clear [navPush]="unitCommentPage" [navParams]="coursestatus.courseitems[this.current_i].id"><ion-icon name="md-send"></ion-icon><span [innerHtml]="config.get_translation('show_notes')"></span> ({{item.meta.comments}})</button-->
  
					
				<!--	
				<ion-grid>
				  <ion-row>
					<ion-col col-6>
						<span id="hitam" > Lampiran </span>
					</ion-col>
					<ion-col col-6 >
						 <ion-icon name="cloud-download"></ion-icon>
					</ion-col>
				  </ion-row>
				</ion-grid>
				-->
				
				<div id="attachment_list" *ngIf="item.type == 'unit' && item.meta && item.meta.attachments && item.meta.attachments.length">
				<div id="hitam"> LAMPIRAN </div>
				<div class="horizontal"></div>
				<ion-list inset>
					<ion-item icon-end *ngFor="let attachments of item.meta.attachments">
					<ion-label [innerHtml]="attachments.name"></ion-label>
					<button ion-button item-end icon-only clear (click)="openIab(attachments.link)"><ion-icon name="cloud-download"></ion-icon></button>
					</ion-item>
				</ion-list>
				<div class="horizontal"></div>
				</div>
				<!--
				<ion-grid>
				  <ion-row>
					<ion-col col-6>
						<div  id="unit_attachments" *ngIf="item.type == 'unit' && item.meta && item.meta.attachments && item.meta.attachments.length">
							<!-span [innerHtml]="config.get_translation('unit_attachments')"></span->
							<span *ngFor="let attachments of item.meta.attachments">
									<span [innerHtml]="attachments.name">  </span> 
							</span> 
						</div>
					</ion-col>
					
					<ion-col col-6 >
						 
						<div  id="unit_attachments" *ngIf="item.type == 'unit' && item.meta && item.meta.attachments && item.meta.attachments.length">
							<!-span [innerHtml]="config.get_translation('unit_attachments')"></span->
							<span *ngFor="let attachments of item.meta.attachments">
									<button id="attachment_button" ion-button icon-only no-padding no-margin clear (click)="openIab(attachments.link)"><ion-icon name="cloud-download"></ion-icon></button>
									<!-<a (click)="openIab(attachments.link)"> DOWNLOAD </a> ->
							</span> 
						</div>
								
							
					</ion-col>
				  </ion-row>
				</ion-grid>

				<div *ngIf="item.type == 'unit' && item.meta && item.meta.attachments && item.meta.attachments.length" class="horizontal"></div>
				-->
				 <button class="coba" *ngIf="item.meta.comments >= 0" ion-button clear [navPush]="unitCommentPage" [navParams]="coursestatus.courseitems[this.current_i].id"><ion-icon ></ion-icon><span>TANYA JAWAB</span>&nbsp;({{item.meta.comments}})</button>
				<!-- name="md-send" -->
 
				<!-- moga2an bisa
					<button ion-button id="finish_course" *ngIf="(item.type == 'unit') && (item.status == 0)" (click)="submitFinish()">Materi Terselesaikan</button>
					<button ion-button id="finish_course" *ngIf="(item.type == 'unit') && (item.status > 0)" (click)="toNextCourse()">Seri Berikutnya</button>
					<button ion-button id="finish_course" *ngIf="(item.type == 'section')" (click)="toNextCourse()">Lanjutkan</button>
				-->
                
                <div id="maincontent" *ngIf="item.type == 'quiz'" padding>
                    
                    <div *ngIf="item.meta.status <= 1 " [innerHtml]="item.content"></div>
                    
                    <div *ngIf="item.meta.status > 1 && item.meta.status < 3">
                        <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" id="quiz_questions" #QuizQuestions (ionSlideDidChange)="onQuestionSlide()" autoHeight pager paginationType="progress">
                            <ion-slide *ngFor="let question of item.meta.questions;let q=index;">
                                <div class="quiz_question {{question.status}}">
                                    <question [question]="question" [display]="0" (answerChecked)="QuestionChecked($event,q)"
                                    (markedQuestion)="increaseProgress($event,q)"> </question>
                                </div>
                            </ion-slide> 
                        </ion-slides>
						<!--
						<button ion-button icon-only id="quiz_backward" (click)="quizQuestions.slidePrev()">
							<ion-icon name="md-arrow-round-back"></ion-icon>
						</button>
						<button ion-button icon-only id="quiz_forward" (click)="quizQuestions.slideNext()">
							<ion-icon name="md-arrow-round-forward"></ion-icon>
						</button>
						-->
                    </div>
					
                    <div *ngIf="item.meta.status == 3">
                        <h3 [innerHtml]="config.get_translation('awaiting_results')"></h3>
                        <div [innerHtml]="item.meta.completion_message"></div>
                    </div>
                    <div *ngIf="item.meta.status > 3">
                        <h3 [innerHtml]="config.get_translation('quiz_results')"></h3>
                        <div *ngIf="item.meta.auto">
                            <ion-card *ngFor="let question of item.meta.questions">
                                <question [question]="question" [display]="1"></question>
                            </ion-card>
                        </div>
                        <div *ngIf="item.meta.retakes > 0 && !showQuizStart()">
                            <button ion-button class="retake_quiz" (click)="retakeQuiz()" [innerHtml]="
                            config.get_translation('retake_quiz') + 
                            '<span> ( ' +item.meta.retakes+' '+config.get_translation('retakes_remaining')+')</span>'
                            " ></button>
                        </div>
                    </div>
                </div>
				<div id="quiz_display">
					<ion-grid *ngIf="(item.type == 'quiz') && (item.meta.status <= 3)">
						<ion-row>
							<!--
							<ion-col>
								<div class="user_progress">
									<p>{{config.get_translation('progress')}}</p>
									<progress-bar [progress]="item.meta.progress"></progress-bar>
								</div> 
							</ion-col>
							-->
							<ion-col>
								<div class="user_marks">
									<p>{{config.get_translation('score')}}</p>
									<span *ngIf="item.meta.status > 3">{{item.meta.marks}}</span> / <strong>{{item.meta.max}}</strong> 
								</div>
							</ion-col>
							<ion-col *ngIf="item.meta.status < 3">
								<div class="user_timer">
									<p>{{config.get_translation('time')}}</p>
									<timer [time]="item.duration" [quiz]="item.id" *ngIf="item.duration < 9999" [start]="quizService.checkQuizStarted(item.id)" 
									(QuizEnded)="endQuiz($event)"></timer>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
            </ion-slide>
        </ion-slides>
    </div>
	<br><br><br>
</ion-content>
<ion-footer *ngIf="!timelineactive">
	<ion-toolbar>
		<div *ngIf="!showQuizControls()" style="margin-bottom:35px;">
		<ion-grid><ion-row><ion-col col-2>
			<button id="home_button" ion-button icon-only icon-start round small color="orange" (click)="toggleTimeline()"><ion-icon name="md-menu"></ion-icon></button>
			</ion-col><ion-col>
			<button id="back_button" *ngIf="!timelineactive && !showQuizStart()  && !isLastQuiz()" ion-button icon-only icon-start clear (click)="toPrevCourse()"><ion-icon name="ios-arrow-back"></ion-icon></button>
			</ion-col><ion-col>
			<button id="finish_button_1" ion-button icon-only clear *ngIf="!getCourseStatus() && !showQuizStart() && !timelineactive  && !isLastQuiz()" (click)="submitFinish()"><ion-icon name="md-radio-button-on"></ion-icon></button>
			<button id="finish_button_2" ion-button icon-only clear *ngIf="getCourseStatus() && !showQuizStart() && !timelineactive  && !isLastQuiz()" disabled><ion-icon name="md-checkmark-circle-outline"></ion-icon></button>
			<button ion-button clear icon-only *ngIf="showQuizStart()" (click)="triggerQuizStart()">
				<ion-icon name="md-play"></ion-icon> 
			</button>
			</ion-col><ion-col>
			<button id="forward_button" *ngIf="!timelineactive && !showQuizStart() && !isLastQuiz()" ion-button icon-only icon-end clear (click)="toNextCourse()"><ion-icon name="ios-arrow-forward"></ion-icon></button>
			</ion-col></ion-row></ion-grid>
		</div>
		<div *ngIf="showQuizControls()" style="margin-bottom:35px;">
		<ion-grid><ion-row><ion-col col-2>
			<button id="home_button" ion-button icon-only icon-start round small color="orange" (click)="toggleTimeline()"><ion-icon name="md-menu"></ion-icon></button>
			</ion-col><!--ion-col col-5>
			<button text-wrap ion-button small (click)="triggerQuizSave()">
                SIMPAN JAWABAN
                <ion-spinner *ngIf="saving" name="lines" class="spinner-calm"></ion-spinner>
            </button>
			</ion-col><ion-col col-5>
            <button text-wrap ion-button small *ngIf="quizSaved()" (click)="triggerQuizSubmit()">KUMPULKAN JAWABAN
            </button-->
			
			<ion-col col-5>
				<button no-padding no-margin ion-button icon-only clear id="save_icon" (click)="triggerQuizSave()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i>
                <ion-spinner *ngIf="saving" name="lines" class="spinner-calm"></ion-spinner>
				</button>
			<!--
			<button text-wrap ion-button small (click)="triggerQuizSave()">
                SIMPAN JAWABAN
                <ion-spinner *ngIf="saving" name="lines" class="spinner-calm"></ion-spinner>
            </button>
			-->
			</ion-col><ion-col col-5>
            <button text-wrap ion-button small (click)="triggerQuizSubmit()">KUMPULKAN
            </button>
			
			
			</ion-col></ion-row></ion-grid>
		</div>
	</ion-toolbar>
</ion-footer>