page-home {
	
	background:#ffffff;
	.scroll-content{margin-top:0 !important;}
	/*
	ion-header{
		color:white;
	}
	*/
	#header_full{
		background:url('assets/images/hd.jpg');
		background-size:cover;
		margin-top:-3px;
		margin-left:-3px;
		margin-right:-3px;
		position:relative;
		height:150px;
	}
	
	#category-title{
		text-align:center;
		font-size:1rem;
	}

	#sesuatu{
		height:1px;
		visibility:hidden;
	}
		
	.accord_control{
		border-top-style: double;
		border-bottom-style: double;
		border-color:#cccccc;
		text-align:center;
		width:100%;
	}
	
	#categories_accordion{
		width:100%;
		max-height:100px;
		margin:0;
		padding:-10;
		overflow:hidden;
		position:relative;
		
	}
	
	.divider_line{
		left:0px;right:0px;
		width:100%;
		border:1px solid #ccc;
		display:block;
		height:10px;
		opacity:0.5;
		margin-bottom:4rem;
		position:absolute;
		background-color:#999;
	}
	
	#app_title{
		text-align:center;
		font-size:24px;
		
	
	}
	
	.header_font{
		color:#404142;
		font-size:1.8rem;
	}
	
	#header_subtitle{
		text-align:center;
		font-size:2rem;
		color:black;
		line-height:1.5;
		margin-top:-18px;
		

	}
	
	#class_menu{
		position:relative;
	}
	#rightside_button{
		align:right;
		position:absolute;
		top:-12px;
		right:-36px;
	}
	#loading{
		position:fixed;
		top:0;left:0;z-index:9999;
		width:100vw;height:100vh;
		display:block;
		background:#313b3d;
		h2{
			color:#fff;
			transition:all 200ms ease-in;
		}
	}
	ion-slides{
		height:auto;
	    margin: 0 -12px;
    	width: calc(100% + 24px);
		&#featured{
			z-index:1;
			position:relative;
			.swiper-container{
				padding:10px;
			}
		}
	}
	.swiper-container{
		height:auto;
		padding-bottom:30px;
	}
	#featured{
		img{
		    width: 100%;
		    object-fit: cover;
		    height: 30vh;
		    min-height: 320px;
		}
		span{
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    z-index:9;
		    width: 100%;
		    background: rgba(0,0,0,0.2);
		    padding: 5px 20px;
		    text-align: start;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 11px;
		    letter-spacing: 1px;
		}
		.swiper-container{
			padding-bottom:0;
		}
	}
	.homecontent{
		z-index:9;position:relative;
		//background: #f6f6f6;
		background: #ffffff;
		margin-top:5px;
	}
	
	#popular_courses{
		
	}
	/*
	#test_courses{
		ion-slides{
			height:auto;
			//margin: 0 -12px;
			width: calc(100% + 24px);
		}
	}
	*/
	#category_menu{
		padding:0 0px 0 0px;
		.card{
			position:relative;
			width:90%;
			//height:100%;
			.card-content{
				white-space: nowrap;
				overflow:hidden;
				text-overflow: ellipsis;
				text-align:center;
				padding:0;
			}		
		}
	}
	#category_icon{
		
		//height:40px;
		width:auto;
		
		//font-size:3rem;
		text-align:center;
	}	
	
	.mine{
	background-color:#e6eef2; 
	margin-left:0px;
	width:100%; 
	padding:0px;
	margin-top:-10px;
	}
	.mine2{
	background-color:#ede8d5;  
	margin-left:0px;
	width:100%; 
	padding:0px;
	margin-top:-10px;
	}
	
}
