<ion-content>

	<div id="header_full" style="background:url('assets/images/hd.png');
		background-size:cover;
		margin-top:-3px;
		margin-left:-3px;
		margin-right:-3px;
		margin-bottom:-3px;
		position:relative;
		height:150px;
		color:black;">
        <ion-buttons end>
            <button ion-button style="color:black;" clear (click)="openSearch()">
                <ion-icon name="md-search"></ion-icon>
            </button>
        </ion-buttons>
		<div id="header_subtitle">
		  <div><img src="assets/images/LAV2M.png" style="text-align:center; width:35%;"/></div>
			<span class="header_font">Halo, mau belajar apa hari ini?</span>
			<ion-buttons style="color:black;">
				<button ion-button clear [navPush]="profilePage">
					<ion-icon name="md-contact" *ngIf="!config.isLoggedIn"></ion-icon>
					<img *ngIf="config.isLoggedIn" [src]="config.user?.avatar">
						<div style="color:black;" *ngIf="!config.isLoggedIn">&nbsp;Tamu</div>
						<div style="color:black;" *ngIf="config.isLoggedIn">&nbsp;{{config.user.name}}</div>
						<span></span>
				</button>
			</ion-buttons>
		</div>
	</div>	

    <div id="featured" style="width:100%;margin-left:12px; padding-right:25px;">
		
		<ion-slides autoplay="5000" loop="true" speed="1000" spaceBetween="0" slidesPerView="1" #Carousel>
			<ion-slide style="background-image:url('assets/images/slider3.jpg'); width:100%; background-repeat:no repeat; background-size:cover; height:108px;">
			</ion-slide >
			<ion-slide style="background-image:url('assets/images/slider1.jpg'); width:100%; background-repeat:no repeat; background-size:cover; height:108px;" (click)="showPage()"> 
			</ion-slide>
			<ion-slide style="background-image:url('assets/images/slider2.jpg'); width:100%; background-repeat:no repeat; background-size:cover; height:108px;" (click)="showPage2()"> 
			</ion-slide>
		  </ion-slides>
	</div>	
	
	<br>
	
	<!--div id="sesuatu" no-padding></div-->
	<div class="homecontent" padding>
		<div *ngIf="categories.length && config.homePage.categories" style="height:182px;">
        <h3 class="heading"><a [navPush]="categoryPage"><ion-icon ios="ios-more" md="md-more"></ion-icon></a><span>{{config.get_translation('categories_title_home_page')}}</span><span>{{config.get_translation('categories_subtitle_home_page')}}</span></h3>
        <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" id="categories" spaceBetween="-10" slidesPerView="2.2">
            <ion-slide *ngFor="let category of categories">
                <ion-card [navPush]="categoryPage" [navParams]="category">
                    <div class="featured_category_block">
                        <lazy-img [inputSrc]="category.image"></lazy-img>
                        <div class="category-content">
                            <!--div class="category-title">{{category.name}}</div-->
                            <!--div class="category-subtitle">{{category.count}} {{config.get_translation('courses')}}</div-->
                        </div>
                    </div>
                  </ion-card>
            </ion-slide>
        </ion-slides>
        </div>
		<!--<div *ngIf="categories.length && config.homePage.categories">-->
		<!--div-->
		
		<div class="divider_line"></div>
		<br><br><br>
		
		<div *ngIf="popular.length && config.homePage.popular">
			<div id="class_menu">
			<ion-grid no-padding><ion-row><ion-col>
            <h3 class="heading"><span>{{config.get_translation('popular_courses_title_home_page')}}</span><span>{{config.get_translation('popular_courses_subtitle_home_page')}}</span></h3>
			</ion-col><ion-col>
			<button id="rightside_button" clear ion-button round [navPush]="categoryPage" [navParams]="{term_id:'293'}"><i style="color:#006699; font-size:20px;" class="fa fa-bars" aria-hidden="true"></i> &nbsp;<!--ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" icon-end></ion-icon--></button>
			</ion-col></ion-row></ion-grid>
			</div>
            <div id="popular_courses">
                <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" spaceBetween="0" slidesPerView="1.25" >
                    <ion-slide *ngFor="let lcourse of popular">
                        <coursecard [course]="lcourse"></coursecard>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
		
		<div class="divider_line"></div>
		<br><br><br>
		
        <div *ngIf="featured.length && config.homePage.featured">
			<div id="class_menu">
			<ion-grid no-padding><ion-row><ion-col>
            <h3 class="heading"><span>KELAS GRATIS</span><span>Ingin mencoba? Mulai dari sini</span></h3>
			</ion-col><ion-col>
			<!-- free:1 -->
			<button id="rightside_button" clear ion-button round [navPush]="categoryPage" [navParams]="{term_id:'294'}"> <i style="color:#006699; font-size: 20px; " class="fa fa-bars" aria-hidden="true"></i> &nbsp; <!--ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" icon-end></ion-icon--></button>
			</ion-col></ion-row></ion-grid>
			</div>
            <div id="popular_courses">
                <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" spaceBetween="0" slidesPerView="1.25">
                    <ion-slide *ngFor="let lcourse of featured">
                        <coursecard [course]="lcourse"></coursecard>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>

		<div class="divider_line"></div>
		<br><br><br>
		
		<ion-card class="mine" (click)="Quiz()">
		  <ion-card-content style="padding:0px;">
			
				<ion-grid>
					  <ion-row>
						<ion-col col-9>
						  <p>TES TEKNIK WIRAUSAHA</p>
						  <p>Lewat 13 pertanyaan pilihan ganda, akan diketahui penguasaan anda pada teknik kewirausahaan.</p>
						 </ion-col>
						<ion-col col-3>
							<img src="assets/images/quiz2.gif" style="width:80px;">
						</ion-col>
					  </ion-row>
				</ion-grid>
		  </ion-card-content>
		</ion-card>
		<br>
		<br>
		<!--div class="divider_line"></div-->
	
		<ion-card class="mine2" (click)="showQuiz2()">
		  <ion-card-content style="padding:0px;">
			
				<ion-grid>
					  <ion-row>
						<ion-col col-9>
						  <p>SIAP USAHA BERMODAL SENDIRI?</p>
						  <p>Luangkan waktu 3 menit dan ketahui apakah anda siap memulai usaha bermodal sendiri.</p>
						 </ion-col>
						<ion-col col-3>
							<img src="assets/images/quiz.gif" style="width:80px;">
						</ion-col>
					  </ion-row>
				</ion-grid>
		  </ion-card-content>
		</ion-card>
		<br>
		<br>
		<!--div class="divider_line"></div-->
		
		<div class="divider_line"></div>
		<br><br><br>
		
		<div *ngIf="testcategory.length && config.homePage.testcategory">
			<div id="class_menu">
			<ion-grid no-padding><ion-row><ion-col>
            <h3 class="heading"><span>BLOG</span><span>Bacaan bergizi kewirausahaan</span></h3>
			</ion-col><ion-col col-auto>
			<button id="rightside_button" clear ion-button round [navPush]="blogPage"> <i style="color:#006699; font-size: 20px;" class="fa fa-bars" aria-hidden="true"></i> &nbsp;<!--ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" icon-end></ion-icon--></button>
			</ion-col></ion-row></ion-grid>
			</div>
            <div id="test_courses">
                <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" spaceBetween="0" slidesPerView="1.25" autoplay="3000" loop="true">
                    <ion-slide *ngFor="let lcourse of testcategory">
                        <coursecard2 [blog]="lcourse"></coursecard2>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>
</ion-content>