
<ion-content>
<div id="title"> <span (click)="back()"> &#10229; </span> &nbsp; &nbsp; &nbsp; Forgot Password </div>
<iframe  width="100%" height="90%" frameborder="0" src="https://arkademi.com/affiliate-lost-password/"></iframe> 
</ion-content>