page-checkout {
	h3{text-align:center;}
	ion-header{
		
	}
	
	ion-content{
		
		ion-item{
			
		}
		
	}
	
	#checkout_title{
		text-align:center;
		font-size:2rem;
		font-style:bold;
		padding-top:2rem;
		width:100%;
		color:white;
		background-color:#33cc33;
		vertical-align:center;
		height:6rem;
	}
	#checkout_content{
		background-color:#eeeeee;
	}
	#order_title{
		font-size:1.5rem;
		padding-top:1rem;
		padding-left:1rem;
	}
	
	#checkout_order{
		margin-top:1rem;
		margin-bottom:1rem;
		font-size:1.6rem;
		background-color:white;
		padding-bottom:1rem;
	}
	#product_name{
		padding-left:1rem;
	}
	.product_display{
		padding-left:1rem;
		padding-right:1rem;
	}
	#coupon_text{
		color:green;
		padding-left:0.5rem;
		font-size:1.6rem;
		span{
			color:black;
			font-size:1.2rem;
		}
	}
	#coupon_button{
		margin:0;
		padding:0;
		span{
			float:right;
			padding-right:0.2rem;
		}
		input{
			float:left;
			width:80%;
			margin-top:0.6rem;
			padding:0;
		}
	}
	#coupon_on{
		color:green;
	}
	#coupon_off{
		color:blue;
	}
	#price_total_title{
		padding-left:1rem;
	}
	#price_total{
		padding-left:1rem;
		font-size:5rem;
		padding-bottom:1rem;
	}

	#checkout_user{
		ion-item{
			padding-right:1.5rem;
		}
	}
	#mandiri{
		margin-top:0.5rem;
		margin-left:0.5rem;
	}
	#mandiri_transfer_text{
		margin-left:1rem;
		margin-right:1rem;
	}
	#small_text{
		font-size:1rem;
		font-style:italic;
		margin-bottom:1rem;
		margin-right:1rem;
		margin-left:1rem;
	}

	.small-divider{
		border-style:solid;
		border-color:#6699ff;
		margin-left:1rem;
		margin-top:1rem;
		margin-bottom:1rem;
		width:15%;
		height:0;
	}
	.thin-divider{
		border-style:solid;
		border-color:#eeeeee;
		margin:1rem;
		height:0;
		width:auto;
		border-width:1px;
	}

	#pay_me{    
    	font-size: 2rem;
		height:6rem;
		bottom:0;
    }
	
	.price_calculation{
		padding-right:0;
		text-align:right;
		float:right;
	}
}

