<ion-header>
    <ion-navbar>
		<div id="class_title">KELAS</div>
    </ion-navbar>
</ion-header>
    
	<ion-buttons no-padding no-margin id="gabung_kelas" ion-fixed style="height:6rem;" *ngIf="!myCourse">
		<ion-grid style="height:6rem;" no-padding no-margin><ion-row no-padding no-margin>
		
		<ion-col col-5 *ngIf="!myCourse && fullCourse && !config.isArray(fullCourse.course.price_html)">
		<div class="course_class2" >
		<h3 class="heading">
		
		<span style="margin-top:25px;font-size:2.5rem;" [innerHtml]="fullCourse.course.price_html"></span>
		</h3>
		</div>
		</ion-col>
				
		<ion-col col-5 *ngIf="!myCourse && fullCourse && fullCourse.course.price_html.length == 1 && config.isArray(fullCourse.course.price_html)">
		<div class="course_class">
		<h3 class="heading">
		<span style="font-size:1.8rem;" [innerHtml]="getPrice()"></span><br><span [innerHtml]="getSlashedPrice()" style="font-size:1.3rem;color:#cc3300">
		</span>
		</h3>
		</div>
		</ion-col>
	
		
		<ion-col col-7 no-padding no-margin style="height:6rem;">
		
			<button id="enter_button" ion-button full ion-fixed class="single_price" *ngIf="!myCourse && fullCourse && !config.isArray(fullCourse.course.price_html)" (click)="buyCourse(fullCourse.course.price_html,fullCourse)" color="orange" style="height:100%;width:100%;font-size:2rem;">GABUNG KE KELAS</button>
			<button id="enter_button" ion-button full ion-fixed class="single_price" *ngIf="!myCourse && fullCourse && fullCourse.course.price_html.length == 1 && config.isArray(fullCourse.course.price_html)" (click)="buyCourse(fullCourse.course.price_html[0],fullCourse)" color="orange" style="height:100%;width:100%;font-size:2rem;">GABUNG KE KELAS</button>
			
		</ion-col>
		</ion-row>
		</ion-grid>
	</ion-buttons>

	
<ion-content>

    <button ion-fixed id="course_button" ion-button icon-left *ngIf="myCourse" [innerHtml]="show_course_status()" [navPush]="courseStatusPage" [navParams]="{'course':course,'user':config.user}"></button>
	
    <div id="featured">
        
        <img [src]="fullCourse?.course.featured_image"/> <!-- 1200 x 627 -->
        <div class="on_featured_image">
			<ion-row><div id="course_title"><ion-col no-padding>{{fullCourse?.course.name}}</ion-col></div>
			</ion-row>
			<ion-row>
                <ion-col no-padding style="margin-top:8px;">
                    <div class="course_instructor">
                        <ion-avatar item-left>
                            <img [src]=fullCourse?.course.instructor?.avatar>
                        </ion-avatar>
						
                      {{fullCourse?.course.instructor?.name}}
                    </div>
                </ion-col>
			</ion-row>
            <ion-row style="margin-top:8px">
                <ion-col >
				<div class="wrapper-course">
			
                    
					<span style="float:left">
					<i class="fa fa-users" aria-hidden="true"></i>&nbsp;
					<span *ngIf="fullCourse?.course.seats" >
					{{fullCourse?.course.total_students}}/{{course.seats}}&nbsp;siswa&nbsp;&nbsp;∙&nbsp;&nbsp;
					</span>
					
					</span>
					
					<span style="float:left">
					<span *ngIf="!fullCourse?.course.seats">{{fullCourse?.course.total_students}}&nbsp;siswa&nbsp;&nbsp;∙&nbsp;&nbsp;
					</span>
					</span>
					
					<span style="float:left">
					<span *ngIf="fullCourse?.course.average_rating" >
					<star-rating [rating]="fullCourse?.course.average_rating"></star-rating>
					</span>
					</span>
					
					<span style="float:left">
					&nbsp;&nbsp;∙&nbsp;&nbsp;<ion-icon name="ios-text"></ion-icon>&nbsp;&nbsp;{{reviews}}&nbsp;ulasan
					</span>
				</div>			
                </ion-col>
				<!-- <ion-col col-auto *ngIf="fullCourse?.course.average_rating"></ion-col> -->
                <!-- <ion-col *ngIf="fullCourse?.course.average_rating" > -->
                    <!-- <star-rating [rating]="fullCourse?.course.average_rating"></star-rating> -->
                <!-- </ion-col> -->
				<!-- <ion-col col-auto><div class="vertical_divider"></div></ion-col> -->
				<!-- <ion-col style="padding-right:10px;"> -->
				<!-- <ion-icon name="ios-text"></ion-icon>&nbsp;{{reviews}}&nbsp;Ulasan -->
				<!-- </ion-col> -->
            </ion-row>
            <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" #CourseTabs id="coursetabs" spaceBetween="0" slidesPerView="3" (ionSlideDidChange)="onTabChanged()">
                <ion-slide *ngFor="let tab of coursetabs; let i=index;">
                  <button ion-button (click)="selectedTab(i)">
                    {{this.config.get_translation(tab)}}
                  </button>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
<!--
    <div id="buy_popup" *ngIf="fullCourse && fullCourse.course.price_html && !config.isString(fullCourse.course.price_html)" [ngClass]="{'active': activateBuyPopup}">

        <div class="pricing_options">
            <ion-list class="pricing_option">
               <ion-item>
                   <h4>{{config.get_translation('pricing_options_title')}}</h4> 
                   <ion-icon name="close" (click)="closePp()"  class="close_pp"></ion-icon>
               </ion-item>
               <ion-item *ngFor="let pricing of fullCourse.course.price_html" (swipe)="buyCourse(pricing,fullCourse)" [ngClass]="{'highlighted': isSwipedPrice(pricing)}"> 
                    <div (click)="showExtras(pricing)">
                        <label [innerHtml]="pricing.html" class="item_html"></label>
                        <ion-icon class="right updown" *ngIf="pricing.extras && !pricing.extras.open" name="arrow-dropdown"></ion-icon>
                        <ion-icon class="right updown" *ngIf="pricing.extras && pricing.extras.open" name="arrow-dropup"></ion-icon>
                        <div class="extras" *ngIf="pricing.extras && pricing.extras.open">
                            <ul class="extras">
                                <span *ngFor="let extra of pricing.extras" >
                                    <li *ngIf="extra.value && extra.value.length" >
                                        <label >{{extra.label}} :  </label>
                                        <span><ion-icon name="md-close" *ngIf="extra.value == 'H'"></ion-icon><ion-icon name="md-add" *ngIf="extra.value == 'S'"></ion-icon></span>
                                    </li> 
                                </span>
                                
                            </ul>
                        </div>
                    </div>
                    
               </ion-item>
            </ion-list>
        </div>
    </div>
-->
    
    <div id="coursecontent" padding>
        <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" id="courseslides" #CourseSlides (ionSlideDidChange)="onSlideChanged()">
            
            <ion-slide *ngFor="let tab of coursetabs; let i=index;">
                <div #tabDesc class="{{tab}}" *ngIf="(tab == 'description')"></div>
                
                <div class="{{tab}}" *ngIf="(tab == 'curriculum')">
                    <ion-list>
                        <ion-item *ngFor="let item of fullCourse[tab]">
                            <h3 *ngIf="item?.type === 'section'">
                                <strong [innerHtml]="item.title"></strong>
                            </h3>
                            <h3 *ngIf="item?.type === 'unit'">
                                <span [innerHtml]="item.title"></span>
                            </h3>
                            <ion-icon name="ios-arrow-dropright" item-left *ngIf="item?.type === 'unit'"></ion-icon>
                            <ion-icon name="md-alarm" item-left *ngIf="item?.type === 'quiz'"></ion-icon>
                            <h3 *ngIf="item?.type === 'quiz'">
                                <span [innerHtml]="item.title"></span>
                            </h3>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="{{tab}}" *ngIf="(tab == 'reviews')">
                    <div class="message" *ngIf="!fullCourse[tab]?.length">
                        {{config.get_translation('no_reviews')}}
                    </div>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let item of fullCourse[tab]" col-12 col-lg-6>
                                <ion-card>
                                    <ion-card-title><star-rating [rating]="item?.rating" align-right></star-rating>{{item.title}}</ion-card-title>
                                    <ion-card-content [innerHtml]=item?.content>
                                    </ion-card-content>
                                    <ion-item>
                                        <ion-avatar item-left>
                                            <img [src]=item?.member?.avatar>
                                        </ion-avatar>
                                        <h4>{{item.member?.name}}<span *ngIf="item.member.sub && item.member.sub != 'false'">{{item.member?.sub}</span></h4>
                                    </ion-item>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <div class="{{tab}}" *ngIf="(tab == 'instructors')">
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let item of fullCourse[tab]" col-12 col-lg-6>
                                <instructorblock [instructor]="item"></instructorblock>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div *ngIf="message?.length" class="message_toggle">
        <div [innerHtml]="message"></div>
    </div>
	<br><br><br>
</ion-content>
