coursecard {
	
	position:relative;
	display:inline-block;
	width:100%;
	.wishlist{
		position: absolute;
	    right: 20px;
	    top: 20px;
	    font-size: 2rem;
	    opacity: 0.5;
	    z-index:99;
		&:before{
			content:"\f307";
			font-family:"Ionicons";
			
		}
		&.active{
			opacity:1;
			&:before{
				content:"\f308";
				color:red;
			}
		}
	}
	ion-card-content{
		padding:0px;
	}

	.featured_course_block{
		border-radius:8px;
		.featured_course_image{
			max-height:200px;
			overflow:hidden;
		}
		.card-content{
			padding: 0px 0px 0px 0px;
			height: auto;position:relative;
		}
		
		.star-rating{
			margin-top:0;padding-top:0;
			font-size:1.4rem;
			text-align:right;
			float:right;
		}
		#star_rating{
			float:right;
		}
		
		.card-title{
			font-size:1.6rem;
			margin-top:0;padding-top:0;
			font-weight:600;
			overflow:hidden;
			text-overflow:ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			line-height: 2rem;
			max-height: 6rem;
		}
		
		.course_student{
			margin-top:0;padding-top:0;
			color:#6699ff;
			font-size:1.4rem;
			float:left;
			width:100%;
		}
		.course_price{
			margin-top:-15px;padding-top:12px;
			text-align:right;
			font-size:1.8rem;    
		}
		.course_instructor{
			text-overflow:ellipsis;
			overflow:hidden;
			white-space: nowrap;
			
		}
	}
}
